:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    margin: calc(var(--menu-bar-height) * 2) 0; /* Calc margin. Number two is used as there are two pseudo elements. */
    transition: .3s ease-in-out, .3s ease-in-out;
}

.container {
    display: inline-block;
}

.container:hover #menu {
    background: transparent;
    transition: background 100ms ease-in;
}

.container:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
}

.container:hover #menu::after {
    transform: rotate(-45deg);
    top: 0;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    /*transition: transform 400ms cubic-bezier(.61,-0.6,.55,1.84), top 400ms cubic-bezier(.61,-0.6,.55,1.84); !* Cubic-bezier geeft een leuker effect dan ease-in-out *!*/
    transition: .3s ease-in-out;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}